.frame-1652 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 346px;
  position: relative;
  width: 337px;
}
.frame-205 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 398px;
  position: relative;
  width: 337px;
}
.place {
  color: var(--black);
  font-weight: 800;
  height: 24px;
  line-height: 34px;
  margin-bottom: -10px;
  margin-left: 2.0px;
  margin-top: 34px;
  min-height: 24px;
  min-width: 337px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 337px;
}
.rectangle-99 {
  height: 160px;
  margin-top: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 337px;
}
.send-a-message {
  color: var(--black);
  font-weight: 800;
  height: 48px;
  line-height: 34px;
  margin-left: 2.0px;
  margin-top: 24px;
  min-height: 48px;
  min-width: 339px;
  mix-blend-mode: normal;
  text-align: center;
  width: 339px;
}
.text-3 {
  color: var(--dark-grey);
  line-height: 24px;
  margin-left: 3.0px;
  margin-top: 16px;
  min-height: 168px;
  min-width: 338px;
  mix-blend-mode: normal;
  text-align: center;
  width: 338px;
}
.x10-contact-us-page-mobile {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1533px;
  mix-blend-mode: normal;
  position: relative;
  width: 375px;
}
