.button-i275595511-do1dJx {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.master-button-xb5Q3R {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.x275595 {
  height: 40px;
  margin-top: 12px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 168px;
}
